@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeue.ttc');
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'HelveticaNeue';
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* Basic Classes */
#backgroundLogo{
    width: 300px;
    position: absolute;
    top: 44%;
    left: 55%;
}
.home-section{
    width: 100%;
    height: 100vh;
    background: url("../images/main-back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    max-width: 95%;
    margin: auto;
    padding: 20px;
}
#mainLogo{
    padding-bottom: 15px;
    width: 200px;
}
.continue-btn a{
    padding: 18px 90px;

    background: black;
    color: white;
    border-radius: 8px;
}
.continue-btn{
    text-align: center;
    transform: translateY(40vh);
}
/* Home Section */

.private-section{
    display: flex;
}
.private-info{
    width: 60%;
    background: #F9F9F9;
    padding-top: 30px;
    height: 100vh;
}
.private-seciton-form{
    width: 80%;
    margin: auto;
}
.private-info-header{
    width: 80%;
    margin: auto;
}
.private-info-result{
   width: 40%;
   height: 100vh;
   overflow-y: scroll;
}

.private-info-result::-webkit-scrollbar{
    width: 3px;
  
}
.private-info-result::-webkit-scrollbar-thumb{
    background: rgb(182, 182, 182);
    border-radius: 20px;
}


.private-info-head-parent{
    display: flex;
    justify-content: space-between;
}
.form-names-parent{
    display: flex;
    justify-content: space-between;
}
.form-name{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 35%;
}
.form-last-name{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 35%;
}
.form-upload-picture{
    display: flex;
    justify-content: flex-start;
    margin-top: 35px;
    position: relative;
}
.form-upload-picture input{
    margin-left: 10px;
}
.form-upload-picture input::-webkit-file-upload-button {
    visibility: hidden;
}

.form-upload-picture input[type="file"] {
    color: rgba(0, 0, 0, 0);
  }

.form-upload-picture input::before{
    content: "ატვირთვა";
    display: inline-block;
    border-radius: 4px;
    padding: 5px 8px;
    outline: none;
    cursor: pointer;
    background: #0E80BF;
    color: white;
}
.form-name input{
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding: 10px;
    margin: 7px 0;
}

.form-last-name input{
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding: 10px;
    margin: 7px 0;
}
.form-about-me textarea{
    width: 100%;
    padding-bottom: 5rem;
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 7px;
    resize: none;
}
.form-about-me{
    margin-top: 35px;
}
.form-email input{
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding: 10px 10px;
    margin: 7px 0;
}
.form-email{
    margin-top: 25px;
    position: relative;
}
.form-number input{
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding: 10px 10px;
    margin: 7px 0;
}
.form-number{
    margin-top: 35px;
    position: relative;
}
.private-info-header hr{
    margin-top: 5px;
}
.private-seciton-form{
    padding-top: 35px;
}
.next-from-private-btn{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: auto;
}
.next-from-private-btn a{
    background: #6B40E3;
    color: white;
    border-radius: 4px;
    padding: 15px 60px;
    margin-top: 15px;
}
#outPut{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-parent img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
}

.parent-result{
    display: flex;
    margin: auto;
    padding-top: 30px;
    
}
.profile-parent{
    position: absolute;
    right: 1%;
  
}
.result-title{
    margin-left: 50px;
}
.result-title h1{
    padding: 1rem 0;
    color: #F93B1D;
}
.result-title h3{
    margin-top: 15px;
    color: #F93B1D;
}


.private-section{
    position: relative;
}
#inCorrectEmail{
    color: red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    visibility: hidden;
    right: -27px;
}
#inCorrectImage{
    position: absolute;
    right: 53%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: red;
    visibility: hidden;
}
#inCorrectName, #inCorrectLastName, #inCorrectNumber{
    position: absolute;
    right: -27px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: red;
    visibility: hidden;
}
#correctEmail, #correctName, #correctLastName, #correctNumber {
    color: #98E37E;
    position: absolute;
    margin-left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    visibility: hidden;
    right: 0;
    margin-right: 10px;
}

.experienceImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.clearAll{
    background: white;
    padding: 13px 17px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    color: black;
    left: 20px;
    top: 20px;
    cursor: pointer;
}
#resumeLogo{
    position: absolute;
    bottom: 3%;
    left: 62%;
}
/* private page */

.experience-section{
    display: flex;
}
.experience-info{
    width: 60%;
    background: #F9F9F9;
    padding-top: 30px;
    height: 100vh;
    overflow-y: scroll;
}
.experience-info::-webkit-scrollbar{
    width: 3px;
  
}
.experience-info::-webkit-scrollbar-thumb{
    background: rgb(182, 182, 182);
    border-radius: 20px;
}
.experience-info-header{
    width: 80%;
    margin: auto;
}
.experience-section-form{
    max-width: 80%;
    margin: auto;
}
#position{
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding: 10px;
    margin: 7px 0;
    width: 100%;
}
.position-parent{
    position: relative;
}
.experience-section-form p{
    color: gray;
}
#employer{
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding: 10px;
    margin: 7px 0;
    width: 100%;
}
.employer-parent{
    margin-top: 35px;
    position: relative;
}
.position-parent p{
    color: gray;
}
.date-parent{
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
}
.start-date{
    position: relative;
    width: 35%;
}
#startDate{
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding: 8px 24px 8px 24px;
    margin: 7px 0;
    width: 100%;
}
.end-date{
    position: relative;
    width: 35%;
}
#endDate{
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding: 8px 24px 8px 24px;
    margin: 7px 0;
    width: 100%;
}
.experience-about{
    position: relative;
    margin-top: 35px;
}
#experienceAbout{
    width: 100%;
    padding-bottom: 5rem;
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 7px;
    resize: none;
}
#addExperienceButton{
    background: #62A1EB;
    padding: 18px 60px 18px 60px;
    outline: none;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 25px;
}

.btn-from-experience-btn{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    transform: translateY(15vh);
}

.btn-from-experience-btn a{
    background: #6B40E3;
    padding: 18px 60px 18px 60px;
    outline: none;
    color: white;
    border: none;
    border-radius: 4px;
}
#resume{
    max-width: 87%;
    margin: auto;
    margin-top: 20px;
}
#educationResume{
    max-width: 87%;
    margin: auto;
    margin-top: 20px;
}
.position-employer-result{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 15px;
}
.date-result{
    display: flex;
    gap: 2px;
    color: #909090;
    margin-top: 15px;
}
.experience-result{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 15px;
}

#correctPosition{
    position: absolute;
    font-size: 20px;
    color: #98E37E;
    right: 10px;
    top: 30%;
    transform: translateY(50%);
    visibility: hidden;
}
#inCorrectPosition{
    position: absolute;
    font-size: 20px;
    color: red;
    right: -30px;
    top: 30%;
    transform: translateY(50%);
    visibility: hidden;
}
#correctEmployer{
    position: absolute;
    font-size: 20px;
    color: #98E37E;
    right: 10px;
    top: 30%;
    transform: translateY(50%);
    visibility: hidden;
}
#inCorrectEmployer{
    position: absolute;
    font-size: 20px;
    color: red;
    right: -30px;
    top: 30%;
    transform: translateY(50%);
    visibility: hidden;
}
.add-experience-form{
    margin-top: 35px;
}
/* education section */

.education-info-header{
    max-width: 80%;
    margin: auto;
}
.education-section{
    display: flex;
}
.education-info{
    width: 60%;
    background: #F9F9F9;
    padding-top: 30px;
    height: 100vh;
}
.education-section-form{
    max-width: 80%;
    margin: auto;
    margin-top: 35px;
}

#institute{
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding: 10px;
    margin: 7px 0;
    width: 100%;
}
.institute-parent p{
    color: gray;
    font-size: 14px;
}
.institute-parent{
    margin-top: 35px;
}
.grade-date-parent{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}
.grade-parent{
    width: 35vh;
}
.education-end-date{
    width: 35vh;
}
#educationDate{
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding: 8px 24px 8px 24px;
    margin: 7px 0;
    width: 100%;
}
.grade{
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding: 8px 24px 8px 24px;
    margin: 7px 0;
    width: 100%;
    
}
#educationAbout{
    width: 100%;
    padding-bottom: 5rem;
    border-radius: 3px;
    outline: none;
    border: 1px solid #B8B8B8;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 7px;
    resize: none;
    margin: 7px 0;
}
.grade-date-parent{
    margin-top: 55px;
    display: flex;
}
.about-education-parent{
    margin-top: 55px;
}
#addInstituteBtn{
    background: #62A1EB;
    padding: 18px 60px;
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-top: 35px;
    cursor: pointer;
    transform: translateX(10.5vh);
}
.doneBtns{
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content: space-between;
    transform: translateY(15vh);
}
#backFromEducation, #doneFromEducation{
    background: #6B40E3;
    padding: 18px 60px;
    border-radius: 4px;
    color: white;
    outline: none;
    border: none;
}
.institute-result{
    display: flex;
}
#educationTitle{
    padding-bottom: 15px;
}
.date-result{
    margin: 20px 0;
}
.date-result p{
    font-weight: 100;
}